langchain==0.1.16
langchain-core==0.1.40
langchain-community>=0.0.32,<0.1
langchain-openai==0.0.6
langchain-text-splitters==0.0.1

openai
faiss-cpu
pypdf
tiktoken
boto3
python-multipart
aiofiles
pymongo
redis==5.0.1
